@model IEnumerable<Firma.Data.Data.CMS.News>

@{
    ViewData["Title"] = "Aktualności";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<div class="container py-5">
    
    @await Html.PartialAsync("News", Model)

</div>