.body-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 260px;
    flex-shrink: 0;
    position: sticky;
    height: 100%;
    background-color: #1a2035;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    
}

.sidebar-brand {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #1a2035;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    flex-shrink: 0;
    padding: 28px 28px;
}

.hamburger {
    display: none;
}

    .sidebar-brand .sidebar-brand-content {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-decoration: none;
        color: #d4af6a;
    }

.sidebar-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: -20px -20px;
    flex-shrink: 0;
}

.sidebar-header-label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #8a8680;
    padding-left: 28px;
    display: block;
    margin-bottom: 20px;
}

.sidebar-menu {
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 70px - 70px - 46px);
    padding: 28px 0;
    scrollbar-width: thin;
    scrollbar-color: rgba(212, 175, 106, 0.3) transparent;
}


.sidebar-nav {
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    gap: 10px;

}



    .sidebar-nav .nav-item .nav-link {
        color: #e8e3da;
        padding: 9px 28px;
    }

        .sidebar-nav .nav-item .nav-link:hover {
            background-color: #232f4b;
            color: #d4af6a;
        }

        .sidebar-nav .nav-item .nav-link.active {
            background-color: rgba(212, 175, 106, 0.1);
            color: #d4af6a;
            border-left: 5px solid #d4af6a;
        }

        .sidebar-nav .nav-item .nav-link i {
            flex-shrink: 0;
            font-size: 20px;
            text-align: center;
            margin-right: 8px;
        }




.sidebar-user-info {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 10px;
    padding: 10px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.user-avatar {
    width: 34px;
    height: 34px;
    color: #d4af6a;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.user-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user-info-name {
    font-size: 18px;
    font-weight: 600;
    color: #e8e3da;
    white-space: nowrap;
    overflow: hidden;
}

.user-info-role {
    font-size: 14px;
    color: gray;
}

.logout {
    text-decoration: none;
    color: darkred !important;
    font-size: 30px;
    flex-shrink: 0;
    margin-left: auto;
}

    .logout:hover {
        color: crimson !important;
        font-weight: bolder;
    }


.main-content {
    overflow-y: auto;
    height: calc(100vh - 46px);
    background-color: #111827;
    padding: 25px 10px;
    scrollbar-color: rgba(212, 175, 106, 0.3) transparent;
}

footer {
    height: 46px;
    background-color: #1a2035;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

    footer span {
        color: #8a90a0;
        font-size: 14px;
        font-weight: 100;
    }


    @media (max-width: 1024px){

        .body-wrapper {
            flex-direction: column;
        }

        .hamburger {
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;
            color: #d4af6a;
            font-size: 28px;
            padding: 0px 8px;
            margin-left: 20px;
            cursor: pointer;
            border-radius: 8px;           
            transition: background 0.2s;      
        }

        .hamburger:hover {
            background-color: rgba(212,175,106,0.2);
        }

        .sidebar {
            width: 100%;
            height: auto;
            position: sticky;
            flex-direction: row;
            align-items: center;
            padding: 0 16px;
            border-right: 0;
            border-bottom: 1px solid rgba(255,255,255,0.1);
        }

        .sidebar-brand { 
            height: 70px;
            border-bottom: none;
            flex: 1;
            padding-left: 28px;
        }

        .sidebar-header {
            padding-top: 20px;
            border-top: 1px solid rgba(255,255,255,0.1);
        }

        .sidebar-menu {
            display: none;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            padding-top: 0;
            background-color: #1a2035;          
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom: 3px solid rgba(212,175,106, 0.7);
            padding-bottom: 10px;
        }

            .sidebar-menu-open {
                display: flex;
                flex-direction: column;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
             
            }

        .sidebar-user-info {  
            border-top: none;
            padding: 16px 28px;
            
        }

        .sidebar-user-info .user-avatar {
            font-size: 30px;
            width: 28px;
            
        }

        .user-details {
            padding-left: 20px;
        }

        .sidebar-user-info .user-details .user-info-name {
            font-size: 15px;
        }

        .sidebar-user-info .user-info-role {
            font-size: 12px;
        }

        .logout {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.2s;
        }

        .logout:hover {
           
            
            background-color: rgba(177, 52, 44,0.2);
        }

    }