.body-wrapper {    
    display: flex;    
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 260px;   
    position: sticky;
    height: 100%;
    background-color: var(--sidebar-bg-color);
    border-right: 1px solid var(--segment-border-color);

    
}

.sidebar-brand {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--sidebar-bg-color);
    border-bottom: 1px solid var(--segment-border-color);
    padding: 28px 28px;
}

.hamburger {
    display: none;
}

    .sidebar-brand .sidebar-brand-content {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-decoration: none;
        color: var(--accent-color);
    }

.sidebar-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: -20px -20px;

}

.sidebar-header-label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--muted-text-color);
    padding-left: 28px;
    display: block;
    margin-bottom: 20px;
}

.sidebar-menu {
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 70px - 70px - 46px);
    padding: 28px 0;
    scrollbar-width: thin;
    scrollbar-color: rgba(212, 175, 106, 0.3) transparent;
}


.sidebar-nav {
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    gap: 10px;

}



    .sidebar-nav .nav-item .nav-link {
        color: var(--main-text-color);
        padding: 9px 28px;
    }

        .sidebar-nav .nav-item .nav-link:hover {
            background-color: var(--hover-bg-color);
            color: var(--accent-color);
        }

        .sidebar-nav .nav-item .nav-link.active {
            background-color: rgba(212, 175, 106, 0.1);
            color: var(--accent-color);
            border-left: 5px solid var(--accent-color);
        }

        .sidebar-nav .nav-item .nav-link i {         
            font-size: 20px;
            margin-right: 8px;
        }




.sidebar-user-info {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 10px;
    padding: 10px 20px;
    border-top: 1px solid var(--segment-border-color);
}

.user-avatar {
    width: 34px;
    height: 34px;
    color: var(--accent-color);
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.user-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user-info-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-text-color);
}

.user-info-role {
    font-size: 14px;
    color: var(--muted-text-color);
}

.logout {
    color: red !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 42px;
    width: 42px;
    margin-left: auto;
    transition: background 0.5s;
    border-radius: 100%;
}

    .logout:hover {
        background-color: rgba(177, 52, 44,0.1);
    }


.main-content {
    overflow-y: auto;
    height: calc(100vh - 46px);
    background-color: var(--main-bg-color);
    padding: 25px 10px;
    scrollbar-color: rgba(212, 175, 106, 0.3) transparent;
}

footer {
    height: 46px;
    background-color: var(--sidebar-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-top: 1px solid var(--segment-border-color);
}

    footer span {
        color: var(--muted-text-color);
        font-size: 14px;
        font-weight: 100;
    }


    @media (max-width: 1024px){

        .body-wrapper {
            flex-direction: column;
        }

        .hamburger {
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;
            color: var(--accent-color);
            font-size: 28px;
            padding: 0px 8px;
            margin-left: 20px;
            cursor: pointer;
            border-radius: 8px;           
            transition: background 0.2s;      
        }

            .hamburger:hover {
                background-color: var(--hover-bg-color);
            }

        .sidebar {
            width: 100%;
            height: auto;
            position: sticky;
            flex-direction: row;
            align-items: center;
            padding: 0 16px;
            border-right: 0;
            border-bottom: 1px solid var(--segment-border-color);
        }

        .sidebar-brand { 
            height: 70px;
            border-bottom: none;
            flex: 1;
            padding-left: 16px;
        }

        .sidebar-header {
            padding-top: 20px;
            border-top: 1px solid var(--segment-border-color);
        }

        .sidebar-menu {
            display: none;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            padding-top: 0;
            background-color: var(--sidebar-bg-color);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom: 3px solid rgba(212,175,106, 0.5);
            padding-bottom: 10px;
        }

        .sidebar-menu-open {
            display: flex;
            flex-direction: column;
            border-top: 1px solid var(--segment-border-color);
        }

        .sidebar-user-info {  
            border-top: none;
            padding: 16px 28px;
            
        }

        .sidebar-user-info .user-avatar {
            font-size: 30px;
            width: 28px;
            
        }

        .user-details {
            padding-left: 20px;
        }

        .sidebar-user-info .user-details .user-info-name {
            font-size: 15px;
        }

        .sidebar-user-info .user-info-role {
            font-size: 12px;
        }

    }