
@model Firma.Data.Data.CMS.Page

@{
    ViewData["Title"] = Model.LinkTitle;
}

<div class="container align-content-center">

    <h4>
        @Model.Title
    </h4>

    <div>
        @Model.Content
    </div>

</div>


