@{
    ViewData["Title"] = "Home Page";
}

<div>

    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>
    <h1>
        Tu będzie strona główna
    </h1>

</div>