@{
    ViewData["Title"] = "Home Page";
}

<div class="container align-content-center">
    <div class="container text-center">
        <hr />
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <h2>Tekst 1</h2>
                <p>Treść Treść v Treść Treść Treść Treść Treść Treść</p>
                <p><button type="button" class="btn btn-primary">Button 1</button></p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <h2>Tekst 2</h2>
                <p>Treść Treść v Treść Treść Treść Treść Treść Treść</p>
                <p><button type="button" class="btn btn-primary">Button 2</button></p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <h2>Tekst 3</h2>
                <p>Treść Treść v Treść Treść Treść Treść Treść Treść</p>
                <p><button type="button" class="btn btn-primary">Button 3</button></p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="~/content/no-image.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                </div>
            </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="~/content/no-image.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                </div>
            </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="~/content/no-image.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
